.site-nav .nav-btn {
    padding: 0.5rem 1.1rem;
    margin: 0.4rem;

    @include for-mobile {
        padding: 0.25rem;
        margin: 0.25rem;
    }
}

.button {
    background-color: $mid-gray-cyan;
    color: $dark-cyan;
    font-weight: $fw-bold;
    padding: 0.3rem;
    margin: 0.15rem;
    border-radius: 0.5rem;
    border: none;


    @include for-mobile-tablet {
        padding: 0.2rem;
        font-size: $fs-small;
    }

    @include for-mobile {
        padding: 0.35rem 0.55rem;
        margin: 0.2rem 0.3rem;
    }
}

.clear-btn {
    background: none;
    border: none;
    font-size: 12px;
    font-weight: $fw-bold;
    color: $dark-gray-cyan;
    margin: 0 0.35rem;
}

.clear-btn:hover {
    color: $dark-cyan;
    text-decoration: underline;
}

.button:hover {
    background-color: $dark-cyan;
    color: $white;
    cursor: pointer;
}

.close-button {
    background-color: $dark-cyan;

    color: $white;
    outline: none;
    border: none;
    margin-left: 0.75rem;

    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 0.4rem 0.6rem;

    @include for-mobile-tablet {
        padding: 0.2rem 0.4rem;
    }

}

.close-button:hover {
    cursor: pointer;
    background-color: $very-dark-gray-cyan;
}