.container-option-select {
  position: relative;
  width: 100%;
}

.select-btn-option {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: $gray 2px solid;

  &:hover {
    cursor: pointer;
    border: $dark-cyan 2px solid;
    outline: none;
  }

  .btn-text-option {
    font-size: $fs-very-small;
    font-weight: $fw-bold;
    color: $dark-gray-cyan;

    .select-text {
      font-weight: $fw-regular !important;
    }
  }

  .arrow-dwn-option {
    display: flex;
    color: $white;
    background: $dark-cyan;
    height: $fs-copy;
    width: $fs-copy;
    font-size: $fs-very-small;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    @include transition(transform);
  }

  &.active .arrow-dwn-option {
    transform: rotate(-180deg);
  }

  & .fa-chevron-down:before{
    font-size: $fs-tiny;
  }
}

.list-items-option {
  position: relative;
  border-radius: 0.5rem;
  background-color: $white;
  box-shadow: 0 0 5px $dark-cyan;
  display: block;
  max-height: 0;
  @include transition(max-height);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $very-dark-gray-cyan $dark-gray-cyan;

  &.active {
    max-height: 200px;
  }

  .item-option {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    margin: 2px 0;
    border-radius: 0.5rem;
    font-size: 14px;
    color: $dark-gray-cyan;
    @include transition(background-color, font-weight, cursor);

    &:hover {
      background-color: $mid-gray-cyan;
      font-weight: bolder;
      cursor: pointer;
    }

    &.checked {
      background-color: $dark-cyan;
      color: $white !important;
      font-weight: $fw-bold;
    }
  }
}