a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

input[type=submit] {
	border: none;
	-webkit-appearance: none;
}

input[type="text"],
input[type="email"] {
	background-color: $input-cyan;
	color: $dark-gray-cyan;
}

input[type="text"]:focus,
input[type="email"]:focus {
	background-color: #fff;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
	width: 7px;
}

body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
	background-color: $dark-gray-cyan;
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
	background-color: hsl(180, 29%, 50%);
	border-radius: 4px;
}


.list-items-option::-webkit-scrollbar {
    width: 5px;
}

.list-items-option::-webkit-scrollbar-track {
    background-color: $dark-gray-cyan;
}

.list-items-option::-webkit-scrollbar-thumb {
    background-color: hsl(180, 29%, 50%);
    border-radius: 4px;
}


.icon {
	display: none;
}

.fa-edit:before, .fa-pen-to-square:before, .fa-trash:before {
    font-size: 13px;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	font-size: $fs-body;
}

button:hover {
	cursor: pointer;
}

input[type="radio"] {
	appearance: none;
	background-color: $dark-cyan;
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 50%;
	transform: translateY(-0.075em);
}



html {
	scroll-behavior: smooth;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}

body,
#root {
	background: $light-gray-cyan;
	min-height: 100vh;
}